---
title: Welcome to Middleman
---

<div class="container">
	<div class="content">
		<div class="content__pic">
			<img src="https://s-media-cache-ak0.pinimg.com/originals/9c/90/1c/9c901c0a64f26a397eef2ffbe418d4d5.jpg" alt="">
		</div>
		<div class="clearfix"></div>
		<section class="content__buttons">
			<section class="content__reaction-box">
				<div class="content__reaction-item">
					<span class='content__icon-title'>Like</span>
					<div class="content__icon--like"></div>
				</div>
				<div class="content__reaction-item">
					<span class='content__icon-title'>Love</span>
					<div class="content__icon--love"></div>
				</div>
				<div class="content__reaction-item">
					<span class='content__icon-title'>Haha</span>
					<div class="content__icon--haha"></div>
				</div>
				<div class="content__reaction-item">
					<span class='content__icon-title'>Wow</span>
					<div class="content__icon--wow"></div>
				</div>
				<div class="content__reaction-item">
					<span class='content__icon-title'>Sad</span>
					<div class="content__icon--sad"></div>
				</div>
				<div class="content__reaction-item">
					<span class='content__icon-title'>Angry</span>
					<div class="content__icon--angry"></div>
				</div>
			</section>
			<div class="clearfix"></div>
			<a class='like-button' href="#">Like</a>
		</section>
	</div>
</div>
